USE [TatooBooking]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studio_id] [int] NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[degree] [varchar](100) NULL,
	[phone] [varchar](12) NULL,
	[address] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingService]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingService](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[users_id] [int] NULL,
	[artist_id] [int] NULL,
	[tatoo_id] [int] NULL,
	[ink_day_1] [date] NULL,
	[ink_day_2] [date] NULL,
	[ink_day_3] [date] NULL,
	[total_price] [decimal](18, 0) NULL,
	[status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingTatoo]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingTatoo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[users_id] [int] NULL,
	[artist_id] [int] NULL,
	[date_create] [date] NULL,
	[users_phone] [varchar](12) NULL,
	[users_book_date] [date] NULL,
	[users_book_time] [time](7) NULL,
	[status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateWorkForArtist]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateWorkForArtist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[artist_id] [int] NOT NULL,
	[work_date] [date] NULL,
	[start_work_hour] [time](7) NULL,
	[end_work_hour] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studio]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudioStaff]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudioStaff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studio_id] [int] NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tatoo]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tatoo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tatoo_name] [varchar](100) NOT NULL,
	[tatoo_description] [varchar](100) NOT NULL,
	[category_id] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[img] [image] NULL,
	[status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TatooCategory]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TatooCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/11/2023 10:33:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[role] [int] NULL,
	[status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([id], [studio_id], [email], [password], [name], [degree], [phone], [address]) VALUES (1, 1, N'Artist1@gmail.com', N'123456', N'Do Thi Manh', N'Tatoo sieu cap pro vip VN', N'032671825', N'3/22 Quoc 2 Phuong 4, Tp Ho Chi Minh')
INSERT [dbo].[Artist] ([id], [studio_id], [email], [password], [name], [degree], [phone], [address]) VALUES (2, 2, N'Artist2@gmail.com', N'123456', N'Mai Van Den', N'la sfa sff as f dsff sf ', N'032654782', N'4/32 Quoc lo 3 Tp Ho Chi Minh')
INSERT [dbo].[Artist] ([id], [studio_id], [email], [password], [name], [degree], [phone], [address]) VALUES (4, 2, N'Artist3@gmail.com', N'123456', N'Nguyen Huu Tinh', N'dsgs df awrfaw', N'02365414', N'9/25 Quan Thu Duc')
SET IDENTITY_INSERT [dbo].[Artist] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingService] ON 

INSERT [dbo].[BookingService] ([id], [users_id], [artist_id], [tatoo_id], [ink_day_1], [ink_day_2], [ink_day_3], [total_price], [status]) VALUES (7, 1, 1, 2, CAST(N'2023-11-05' AS Date), NULL, NULL, CAST(100 AS Decimal(18, 0)), 1)
INSERT [dbo].[BookingService] ([id], [users_id], [artist_id], [tatoo_id], [ink_day_1], [ink_day_2], [ink_day_3], [total_price], [status]) VALUES (8, 1, 1, 1, CAST(N'2023-11-05' AS Date), CAST(N'2023-11-06' AS Date), NULL, CAST(300 AS Decimal(18, 0)), 1)
INSERT [dbo].[BookingService] ([id], [users_id], [artist_id], [tatoo_id], [ink_day_1], [ink_day_2], [ink_day_3], [total_price], [status]) VALUES (9, 6, 4, 1, CAST(N'2023-11-06' AS Date), CAST(N'2023-11-07' AS Date), NULL, CAST(400 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[BookingService] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingTatoo] ON 

INSERT [dbo].[BookingTatoo] ([id], [users_id], [artist_id], [date_create], [users_phone], [users_book_date], [users_book_time], [status]) VALUES (9, 1, 1, CAST(N'2023-11-01' AS Date), N'0326542322', CAST(N'2023-11-02' AS Date), CAST(N'19:12:00.0934768' AS Time), 2)
INSERT [dbo].[BookingTatoo] ([id], [users_id], [artist_id], [date_create], [users_phone], [users_book_date], [users_book_time], [status]) VALUES (10, 3, 2, CAST(N'2023-11-02' AS Date), N'0326547821', CAST(N'2023-11-02' AS Date), CAST(N'10:32:03' AS Time), 1)
INSERT [dbo].[BookingTatoo] ([id], [users_id], [artist_id], [date_create], [users_phone], [users_book_date], [users_book_time], [status]) VALUES (11, 1, 1, CAST(N'2023-11-03' AS Date), N'0255554', CAST(N'2023-11-04' AS Date), CAST(N'08:41:27' AS Time), 2)
SET IDENTITY_INSERT [dbo].[BookingTatoo] OFF
GO
SET IDENTITY_INSERT [dbo].[DateWorkForArtist] ON 

INSERT [dbo].[DateWorkForArtist] ([id], [artist_id], [work_date], [start_work_hour], [end_work_hour]) VALUES (1, 1, CAST(N'2023-10-31' AS Date), CAST(N'07:00:56' AS Time), CAST(N'15:00:56' AS Time))
INSERT [dbo].[DateWorkForArtist] ([id], [artist_id], [work_date], [start_work_hour], [end_work_hour]) VALUES (2, 1, CAST(N'2023-11-02' AS Date), CAST(N'08:15:21' AS Time), CAST(N'21:20:21' AS Time))
INSERT [dbo].[DateWorkForArtist] ([id], [artist_id], [work_date], [start_work_hour], [end_work_hour]) VALUES (3, 1, CAST(N'2023-10-30' AS Date), CAST(N'02:22:08.4328295' AS Time), CAST(N'02:22:08.4361786' AS Time))
SET IDENTITY_INSERT [dbo].[DateWorkForArtist] OFF
GO
SET IDENTITY_INSERT [dbo].[Studio] ON 

INSERT [dbo].[Studio] ([id], [name], [status]) VALUES (1, N'Huimng', 1)
INSERT [dbo].[Studio] ([id], [name], [status]) VALUES (2, N'NFS', 1)
INSERT [dbo].[Studio] ([id], [name], [status]) VALUES (3, N'Nathan Lee', 1)
SET IDENTITY_INSERT [dbo].[Studio] OFF
GO
SET IDENTITY_INSERT [dbo].[StudioStaff] ON 

INSERT [dbo].[StudioStaff] ([id], [studio_id], [email], [password], [name], [status]) VALUES (1, 1, N'StudioStaff@gmail.com', N'123456', N'Jiun Mangth', 1)
INSERT [dbo].[StudioStaff] ([id], [studio_id], [email], [password], [name], [status]) VALUES (3, 2, N'SSS@gmail.com', N'123456', N'Huth the khan', 1)
SET IDENTITY_INSERT [dbo].[StudioStaff] OFF
GO
SET IDENTITY_INSERT [dbo].[Tatoo] ON 

SET IDENTITY_INSERT [dbo].[Tatoo] OFF
GO
SET IDENTITY_INSERT [dbo].[TatooCategory] ON 

INSERT [dbo].[TatooCategory] ([id], [category_name]) VALUES (1, N'Japanese')
INSERT [dbo].[TatooCategory] ([id], [category_name]) VALUES (2, N'Lettering')
INSERT [dbo].[TatooCategory] ([id], [category_name]) VALUES (3, N'Line')
SET IDENTITY_INSERT [dbo].[TatooCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [email], [password], [name], [role], [status]) VALUES (1, N'user1@gmail.com', N'123456', N'Na la', 1, 1)
INSERT [dbo].[Users] ([id], [email], [password], [name], [role], [status]) VALUES (3, N'user2@gmail.com', N'123456', N'Lua Han Thu ', 1, 1)
INSERT [dbo].[Users] ([id], [email], [password], [name], [role], [status]) VALUES (4, N'user3@gmail.com', N'123456', N'La naa', 3, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD FOREIGN KEY([studio_id])
REFERENCES [dbo].[Studio] ([id])
GO
ALTER TABLE [dbo].[BookingService]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artist] ([id])
GO
ALTER TABLE [dbo].[BookingService]  WITH CHECK ADD FOREIGN KEY([tatoo_id])
REFERENCES [dbo].[Tatoo] ([id])
GO
ALTER TABLE [dbo].[BookingService]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[BookingTatoo]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artist] ([id])
GO
ALTER TABLE [dbo].[BookingTatoo]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[DateWorkForArtist]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artist] ([id])
GO
ALTER TABLE [dbo].[StudioStaff]  WITH CHECK ADD FOREIGN KEY([studio_id])
REFERENCES [dbo].[Studio] ([id])
GO
ALTER TABLE [dbo].[Tatoo]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[TatooCategory] ([id])
GO
